@media (max-width: 768px) {
  .main_content {
    text-align: center;
    margin: 10px 0;
    padding: 1rem;
  }

  #calendar {
    width: 100%;
    height: 470px;
    margin: 10px 0;
    padding: 1rem;
  }

  .fc-event {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .sidebar {
    width: 65px;
    padding: 0.8rem;
  }

  .main_content {
    text-align: center;
    margin: 0;
  }

  .fc .fc-toolbar-title {
    font-size: 10px;
    margin: 0px 10px;
  }

  .fc table {
    font-size: 8px;
  }

  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    font-size: 8px;
  }

  .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    font-size: 8px;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin: 15px -9px;
    width: 300px;
  }

  .fc .fc-col-header-cell-cushion {
    font-size: 8px;
  }
}
